body {
  margin: 0;
  font-family:sans-serif;
}

.header--container{
  display: flex;
  justify-content: center;
}

.map--container {
  display: grid;
  grid-template-columns: 900px 400px;
  justify-content: space-around;
  border: solid 5px black;
  margin-top: 3rem;
}

.map--layout {
  margin-top: 3rem;
}

.grid { 
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: stretch;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 3rem;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }